# Halloween candy dirty data

In [2]:
import pandas as pd

In [3]:
df_15 = pd.read_csv('raw_data/candy_ranking_data/candy-2015.csv')
df_16 = pd.read_csv('raw_data/candy_ranking_data/candy-2016.csv')
df_17 = pd.read_csv('raw_data/candy_ranking_data/candy-2017.csv')

I will work on each of them then join them together

In [4]:
df_15.head()

,Timestamp,How old are you?,Are you going actually going trick or treating yourself?,[Butterfinger],[100 Grand Bar],[Anonymous brown globs that come in black and orange wrappers],[Any full-sized candy bar],[Black Jacks],[Bonkers],[Bottle Caps],...,[Necco Wafers],"Which day do you prefer, Friday or Sunday?",Please estimate the degrees of separation you have from the following folks [Bruce Lee],Please estimate the degrees of separation you have from the following folks [JK Rowling],Please estimate the degrees of separation you have from the following folks [Malala Yousafzai],Please estimate the degrees of separation you have from the following folks [Thom Yorke],Please estimate the degrees of separation you have from the following folks [JJ Abrams],Please estimate the degrees of separation you have from the following folks [Hillary Clinton],Please estimate the degrees of separation you have from the following folks [Donald Trump],Please estimate the degrees of separation you have from the following folks [Beyoncé Knowles]
0,10/23/2015 8:46:20,35,No,JOY,NaN,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10/23/2015 8:46:51,41,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10/23/2015 8:47:34,33,No,DESPAIR,DESPAIR,DESPAIR,JOY,DESPAIR,DESPAIR,DESPAIR,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10/23/2015 8:47:58,31,No,JOY,JOY,DESPAIR,JOY,DESPAIR,DESPAIR,JOY,...,DESPAIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10/23/2015 8:48:11,30,No,NaN,JOY,DESPAIR,JOY,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
col_list = []
for col in df_15.columns:
    if col.startswith(' [') == True:
        col_list.append(col)
col_list
col_list.append("How old are you?")
col_list.append("Are you going actually going trick or treating yourself?")

In [37]:
sweet_15 = df_15[col_list].melt(var_name="sweet")

In [62]:
short_15 = df_15[col_list].rename(columns={"How old are you?": "age", "Are you going actually going trick or treating yourself?": "going_out"})

In [64]:
short_15.melt(id_vars=["age", "going_out"],var_name="sweet")

       age going_out            sweet    value
0       35        No   [Butterfinger]      JOY
1       41        No   [Butterfinger]      JOY
2       33        No   [Butterfinger]  DESPAIR
3       31        No   [Butterfinger]      JOY
4       30        No   [Butterfinger]      NaN
...     ..       ...              ...      ...
534845  50        No   [Necco Wafers]  DESPAIR
534846  43        No   [Necco Wafers]  DESPAIR
534847  35       Yes   [Necco Wafers]      NaN
534848  38        No   [Necco Wafers]      JOY
534849  44        No   [Necco Wafers]      JOY

[534850 rows x 4 columns]